<section class="container">
  <h1>Your tickets</h1>
  <h2>Filter your tickets: </h2>
  <input [(ngModel)]="startingCitySearch" placeholder="Starting City">
  <input [(ngModel)]="destinationCitySearch" placeholder="Destination City">
  <input [(ngModel)]="dateSearch" type="date" max="3000-12-31" min="1000-01-01">
 
    <div class="panel-body">
      <ul class="list-group">
        <li *ngFor="let ticket of userTickets | ticketsFilter: startingCitySearch:destinationCitySearch:dateSearch" class="list-group-item">
            <article class="card fl-left">
                <section class="qrcode">
                    <ngx-qrcode [qrc-element-type]="'img'" [qrc-value]=[ticket.id] [qrc-class]="qrc-class"></ngx-qrcode>
                </section>
                  <section class="card-cont">
                    <i class="fa fa-map-marker"></i>
                    <h3>From: {{ticket.startingCity}}</h3>
                    <h3>To: {{ticket.destinationCity}}</h3>
                    <div class="even-date">
                     <time>
                     <i class="fa fa-calendar"></i>
                     <span>{{ticket.date | date : "dd-MM-yyyy"}}</span>
                     <span>{{ticket.date | date : "HH:mm"}}</span>
                     </time>
                    </div>
                    <button>Save</button>
                  </section>
            </article>
        </li>
      </ul>
    </div>

  </section>