h1
{
  text-transform: uppercase;
  font-weight: 900;
  border-left: 10px;
  border-bottom: 2px solid #0026fe;
  padding-left: 10px;
  margin-bottom: 30px;
  margin-top: 80px;
}

.modal-body{
    overflow-x: auto;
}

.card-body{
    min-height: 250px;
    min-width: 250px;
}

.card-input-element+.card {
    height: calc(36px + 2*1rem);
    color: var(--primary);
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 2px black transparent;
    border-radius: 4px;
    margin: 4px;
  }
  
  .card-input-element+.card:hover {
    cursor: pointer;
  }
  
  .card-input-element:checked+.card {
    border: 2px solid var(--primary);
    -webkit-transition: border .0.5s;
    -o-transition: border .0.5s;
    transition: border .0.5s;
  }
  
  .ng-valid.ng-dirty:not(form) {
    border: solid 2px lightgreen;
  }
  
  .ng-invalid.ng-dirty:not(form), .ng-invalid:not(form).form-submitted {
    border: solid 2px lightcoral;
  }