h1
{
  text-transform: uppercase;
  font-weight: 900;
  border-left: 10px;
  border-bottom: 2px solid #fec500;
  padding-left: 10px;
  margin-bottom: 30px;
  margin-top: 80px;
}

.btn {
 margin-bottom: 10px;
}

.container {
	background-color: white;
	border-radius: 2%;
	opacity: 90%;
  }

.form-label {
	font-weight: 700;
	text-transform: uppercase;
	line-height: 24px;
	height: 24px;
	font-size: 12px;
	color: #98c9ee;
	padding-right: 15px;
	padding-left: 15px;
	padding-top: 15px;
}

.form-control {
	background-color: #fff;
	height: 35px;
	color: #191a1e;
	border: 2px solid #dfe5e9;
	font-size: 16px;
	font-weight: 700;
	-webkit-box-shadow: none;
	box-shadow: none;
	border-radius: 4px;
	-webkit-transition: 0.2s all;
	  transition: 0.2s all;
}

.form-group {
	position: relative;
	margin-bottom: 20px;
}
