<section class="container">
    <h1>Delete City</h1>
      <div class="form-group">
        <span class="form-label">Select city to delete</span>
        <select *ngIf="cities" class="form-control" data-live-search="true" [(ngModel)]="selectedCity" id="CitySelect" name="CitySelect" required>
            <option id="CityName" *ngFor="let city of cities" [ngValue]="city">{{city.name}}</option>
        </select>
        <span class="select-arrow"></span>
      </div>
      <button *ngIf="selectedCity" type="submit" class="btn btn-danger" data-toggle="modal" data-target="#confirm-delete">DELETE</button>
  </section>

  <div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
          <div class="modal-content">
              <div class="modal-header">
                  Are you sure you want to delete:
              </div>
              <div *ngIf="selectedCity" class="modal-body">
                  {{selectedCity.name}}
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                  <button class="btn btn-danger btn-ok" id="deleteBtn" data-dismiss="modal">Delete</button>
              </div>
          </div>
      </div>
  </div>