h1
{
  text-transform: uppercase;
  font-weight: 900;
  border-left: 10px;
  border-bottom: 2px solid #fec500;
  padding-left: 10px;
  margin-bottom: 30px;
  margin-top: 80px;
}

.container {
  background-color: white;
  border-radius: 2%;
  opacity: 90%;
}
