@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700');

.dropdown-toggle {
    cursor: pointer;
}

.form-control.mr-sm-2 {
  margin-bottom: 10px;
}

.help-block {
  margin-bottom: 10px;
}


.submit-btn.my-2.my-sm-0 {
  margin-top: 15px;
}

.submit-btn.my-2.my-sm-0:disabled {
  opacity: 40%;
  margin-top: 15px;
}

.h1 {
  font-family: 'Montserrat', sans-serif
}

.body {
  overflow-x: hidden;
  background: #fff;
  color: #666666;
  font-family: "Open Sans", sans-serif;
}

.navbar-nav {
  position: relative;
  width: 25%;
}

.help-block {
  color: red;
}


.navbar-brand{
  border-left: 3px solid #fec500;
  color: white;
}

.dropdown{
  background: #4fa3e3;
  color: white;
}

.submit-btn{
  color: #fff;
	background-color: #4fa3e3;
	border: none;
	width: 100%;
  border-radius: 4px;
  height: 35px;
}

.form-label {
	top: 6px;
	left: 20px;
	font-weight: 700;
	text-transform: uppercase;
	line-height: 24px;
	height: 24px;
	font-size: 12px;
	color: #98c9ee;
}

#nav-menu-container {
  padding-right: 10px;
  float: right;
  margin: 0;
}

.nav-menu,
.nav-menu * {
  list-style: none;
}

.nav-menu ul {
  display: none;
  top: 100%;
  left: 0;
  z-index: 99;
}

.nav-menu li {
  position: relative;
  white-space: nowrap;
}

.nav-menu > li {
  float: left;
}

.nav-menu li:hover > ul,
.nav-menu li.sfHover > ul {
  display: inline-block;
}

.nav-menu ul ul {
  top: 0;
  left: 100%;
}

.nav-menu ul li {
  min-width: 180px;
}

.nav-menu a {
  padding: 0 8px 10px 8px;
  text-decoration: none;
  display: inline-block;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 13px;
  text-transform: uppercase;
  outline: none;
}

.nav-menu li:hover > a,
.nav-menu > .menu-active > a {
  color: #fec500;
}

.nav-menu > li {
  margin-left: 10px;
}

.nav-menu ul {
  margin: 4px 0 0 0;
  padding: 10px;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  background: #fff;
}

.nav-menu ul li {
  transition: 0.3s;
}

.nav-menu ul li a {
  padding: 10px;
  color: #333;
  transition: 0.3s;
  display: inline-block;
  font-size: 13px;
  text-transform: none;
}

.nav-menu ul li:hover > a {
  color: #fec500;
}

.nav-menu ul ul {
  margin: 0;
}
